<!DOCTYPE html>
<html>
    <head>
        <title>LEGO plans downloader...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/js/libs/pure/base.css" rel="stylesheet" type="text/css"/>
        <link href="/static/js/libs/pure/grids-core.css" rel="stylesheet" type="text/css"/>
        <link href="/static/js/libs/pure/grids-units.css" rel="stylesheet" type="text/css"/>
        <link href="/static/js/libs/jqueryui/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="/static/js/libs/jqueryui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
        <link href="/static/js/libs/jqueryui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
        <link href="/static/js/libs/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css"/>
        
        <link rel="icon" type="image/ico" href="/static/favicon.ico" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
    <body>
      
        <div class="wrapper">
            <div class="pure-g">
                <div class="pure-u-2-3">
                    <h1>LEGO plans</h1>
                    <ul id="startlinks">
                        <li data-action='stored'><a href='#'>Stored</a></li> <!-- filter by downloaded=true  -->
                        <li data-action='notstored' class="active"><a href='#'>Not Stored</a></li><!-- exclude downloaded=true  -->
                        <li data-action='pending'><a href='#'>Pending</a></li><!-- show pending  -->
                        <li data-action='all'><a href='#'>All</a></li><!-- show all  -->
                        <li><a href='/manage'>Manage</a></li><!-- show all  -->
                    </ul>
                </div>
            </div>
            
            <div class="pure-g">
            <div  class="pure-u-1" id="paginator_stats"></div>
                <div  class="pure-u-1" id="paginator"></div>
                <div class="pure-u-1" id="plans_list">
                    
                </div>
                
                
                
            </div>
        </div>
        
        <div id="ajax-loading" style="display:none">
            AJAX call in progress. Please wait.
        </div>

        <script src="/static/js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="/static/js/libs/jquery/jquery.cookie.js" type="text/javascript"></script>
        <script src="/static/js/libs/jqueryui/jquery-ui.js" type="text/javascript"></script>
        <script src="/static/js/libs/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="/static/js/engine.js" type="text/javascript"></script>
        <script>
            engine.init();
        </script>
        
    </body>
</html>